@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BeautyShop</h1>
    <!--<img src="https://cdn.britannica.com/35/222035-050-C68AD682/makeup-cosmetics.jpg" style="height:300px"> qtyatyq r   q-->
    @*https://dailytimes.com.pk/assets/uploads/2022/10/18/AdobeStock_273553300.jpeg*@






</div>

<div class="text-right">
    We believe that beauty thrives in diversity and discovery.
    Our purpose is to expand the way the world sees beauty by empowering the ExtraOrdinary in each of us.
    From the very beginning, our founder believed that BeautyShop could not only disrupt beauty retail,
    but that it would have a positive impact on the world.
    Serving our customers has been our obssession since the beginning. Our joy comes from delivering a curated, innovative prestige beauty experience,
    giving people the freedom to explore their beauty and meet the best version of themselves.
    BeautyShop believes in a world that champions all beauty. 
    <p>A world where each one of us feels celebrated for who we are, not what others would like us to be.</p>

</div>
   
    
    @*Sample Slideshow*@

    <div id="slideshow" class="h-100 d-flex align-items-center justify-content-center" >
        <img  src="https://images.indianexpress.com/2020/03/makeup-de-clutter-1200.jpg" style="height:300px"  alt="1" />
        <img src="https://post.healthline.com/wp-content/uploads/2020/04/makeup_composition_overhead-1200x628-facebook-1200x628.jpg" style="height:300px" alt="2" />
        <img  src="https://images.herzindagi.info/image/2022/Oct/cheap-makeup-product.jpg" style="height:300px" alt="3" />
    </div>
    <script>
        var slideShow = function (container) {
            this.images = [];
            this.curImage = 0;
            for (i = 0; i < container.childElementCount; i++) {
                this.images.push(container.children[i]);
                this.images[i].style.display = "none";
            }

            // Handle going to to the next slide
            var nextSlide = function () {
                for (var i = 0; i < this.images.length; i++) {
                    this.images[i].style.display = "none";
                }
                this.images[this.curImage].style.display = "block";
                this.curImage++;
                if (this.curImage >= this.images.length) {
                    this.curImage = 0;
                }
                window.setTimeout(nextSlide.bind(this), 2000);
            };
            nextSlide.call(this);
        };
        slideShow(document.getElementById("slideshow"));
    </script>
<style>
    .slideshow {
        position:center
    }
</style>